In [4]:

#import necessary libraries
import os
import sys
import time

import requests
import datetime
import pandas as pd
from datetime import datetime

In [5]:
#import the data
Train=pd.read_csv('Train.csv')
Test=pd.read_csv('Test.csv')

In [6]:
#check the first few rows of the data
print(Train.head())

          ID         country age_group        travel_with  total_female  \
0     tour_0      SWIZERLAND     45-64  Friends/Relatives           1.0
1    tour_10  UNITED KINGDOM     25-44                NaN           1.0
2  tour_1000  UNITED KINGDOM     25-44              Alone           0.0
3  tour_1002  UNITED KINGDOM     25-44             Spouse           1.0
4  tour_1004           CHINA      1-24                NaN           1.0

   total_male                         purpose     main_activity  \
0         1.0            Leisure and Holidays  Wildlife tourism
1         0.0            Leisure and Holidays  Cultural tourism
2         1.0  Visiting Friends and Relatives  Cultural tourism
3         1.0            Leisure and Holidays  Wildlife tourism
4         0.0            Leisure and Holidays  Wildlife tourism

                    info_source tour_arrangement  ... package_transport_tz  \
0            Friends, relatives      Independent  ...                   No
1                        others      Independent  ...                   No
2            Friends, relatives      Independent  ...                   No
3  Travel, agent, tour operator     Package Tour  ...                  Yes
4  Travel, agent, tour operator      Independent  ...                   No

  package_sightseeing package_guided_tour package_insurance night_mainland  \
0                  No                  No                No           13.0
1                  No                  No                No           14.0
2                  No                  No                No            1.0
3                 Yes                 Yes                No           11.0
4                  No                  No                No            7.0

  night_zanzibar payment_mode  first_trip_tz  \
0            0.0         Cash             No
1            7.0         Cash            Yes
2           31.0         Cash             No
3            0.0         Cash            Yes
4            4.0         Cash            Yes

                        most_impressing total_cost
0                       Friendly People   674602.5
1  Wonderful Country, Landscape, Nature  3214906.5
2                  Excellent Experience  3315000.0
3                       Friendly People  7790250.0
4                           No comments  1657500.0

[5 rows x 23 columns]

In [7]:

print(Test.head())

          ID         country age_group        travel_with  total_female  \
0     tour_1       AUSTRALIA     45-64             Spouse           1.0
1   tour_100    SOUTH AFRICA     25-44  Friends/Relatives           0.0
2  tour_1001         GERMANY     25-44  Friends/Relatives           3.0
3  tour_1006          CANADA    24-Jan  Friends/Relatives           2.0
4  tour_1009  UNITED KINGDOM     45-64  Friends/Relatives           2.0

   total_male               purpose     main_activity  \
0         1.0  Leisure and Holidays  Wildlife tourism
1         4.0              Business  Wildlife tourism
2         0.0  Leisure and Holidays     Beach tourism
3         0.0  Leisure and Holidays  Cultural tourism
4         2.0  Leisure and Holidays  Wildlife tourism

                    info_source tour_arrangement  ... package_food  \
0  Travel, agent, tour operator     Package Tour  ...          Yes
1       Tanzania Mission Abroad     Package Tour  ...           No
2            Friends, relatives      Independent  ...           No
3                        others      Independent  ...           No
4            Friends, relatives     Package Tour  ...          Yes

  package_transport_tz package_sightseeing package_guided_tour  \
0                  Yes                 Yes                 Yes
1                   No                  No                  No
2                   No                  No                  No
3                   No                  No                  No
4                  Yes                  No                  No

  package_insurance night_mainland night_zanzibar  payment_mode  \
0               Yes             10              3          Cash
1                No             13              0          Cash
2                No              7             14          Cash
3                No              0              4          Cash
4                No             10              0          Cash

   first_trip_tz                       most_impressing
0            Yes                              Wildlife
1             No  Wonderful Country, Landscape, Nature
2             No                           No comments
3            Yes                       Friendly People
4            Yes                       Friendly People

[5 rows x 22 columns]

In [8]:

#check the shape of the data
print(Train.shape)

(4809, 23)

In [9]:
print(Test.shape)

(1601, 22)